!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title Black Friday
    %link{href: "https://fonts.googleapis.com/css?family=Inika&display=swap", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Inter&display=swap", rel: "stylesheet"}/
    %link{href: "styles.css", rel: "stylesheet"}/
  %body
    .div
      .div-2
        .div-3
          .div-4 BLACK
          .div-5 FRIDAY
          .div-6 UP TO 70% ON ALL PRODUCTS
      .div-7
        .div-8 LAST CHANCE
        .div-9
          .div-10 70%
          .div-11 OFF ALL
        .sample-text-click-to-select-t
          SAMPLE TEXT. CLICK TO SELECT THE TEXT BOX. CLICK AGAIN OR DOUBLE CLICK TO
          START EDITING THE TEXT.
        .div-12
          .div-13 START NOW
          .div-14
      .div-15
        .builder-columns.div-16
          .builder-column.column
            .div-17
              .div-18 01
              .div-19
                .div-20 AWESOME
                .div-21 INTERIORS
              .paragraph-lorem-ipsum-dolor-s
                Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis
                elementum. Phasellus sed efficitur dolor, et ultricies sapien.
                Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem
                odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
          .builder-column.column-2
            .div-22
              .div-23 02
              .div-24
                .div-25 AWESOME
                .div-26 INTERIORS
              .paragraph-lorem-ipsum-dolor-s
                Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis
                elementum. Phasellus sed efficitur dolor, et ultricies sapien.
                Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem
                odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit amet.
      .div-27
        .inspired-design-unparalleled
          INSPIRED DESIGN. UNPARALLELED EXPERIENCE. EXEMPLARY SERVICE.
      .div-28
        .div-29 FOLLOW US!
        .div-30
      .div-31
        .builder-columns.div-32
          .builder-column.column-3
            .div-33 SALE 50%
          .builder-column.column-4
            .div-34
              .div-35 MAN OUTLET
              .grab-a-style-steal-with-our-50
                Grab a style steal with our 50% off everything deal. With discounts
                \& offers on fashion, accessories & shoes, shop PLT this season to
                bag the ultimate fit.
              .div-36 CLICK NOW
      .div-37
        .div-38
          .div-39 OR JUST REACH US RIGHT HERE
          .div-40
            .div-41 Name
            .div-48
              .builder-columns.div-49
                .builder-column.column-5
                  .div-50 Enter your name
          .div-43
            .div-44 Address
            .div-48
              .builder-columns.div-49
                .builder-column.column-5
                  .div-50 Enter a valid email address
          .div-46
            .div-47 Message
            .div-48
              .builder-columns.div-49
                .builder-column.column-5
                  .div-50 Enter your message
          .div-51 Submit
      .div-52 Footer text