!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title Black Friday
    %link{href: "https://fonts.googleapis.com/css?family=Inika&display=swap", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css?family=Inter&display=swap", rel: "stylesheet"}/
    %link{href: "styles.css", rel: "stylesheet"}/
  %body
    .main-container
      .header-container
        .logo-container
        .title-container
          %span.title-bold BLACK
          %span.title-light FRIDAY
          %span.subtitle UP TO 70% ON ALL PRODUCTS
      .promo-container
        %span.promo-title LAST CHANCE
        .promo-subtitle
          %span.promo-percent 70%
          %span.promo-product OFF ALL
        %span.promo-text
          SAMPLE TEXT. CLICK TO SELECT THE TEXT BOX. CLICK AGAIN OR DOUBLE
          CLICK TO START EDITING THE TEXT.
        .promo-button
          %span.promo-button-text START NOW
          .promo-button-icon
      .text-container
        .text-box-1
          %span.text-box-1-title 01
          .text-box-1-brand
            %span.text-box-2-sub AWESOME
            %span.text-box-1-sub INTERIORS
          %span.text-box-1-text
            Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis
            elementum. Phasellus sed efficitur dolor, et ultricies sapien.
            Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem
            odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit
            amet.
        .text-box-2
          %span.text-box-2-title 02
          .text-box-2-brand
            %span.text-box-2-sub AWESOME
            %span.text-box-1-sub INTERIORS
          %span.text-box-2-text
            Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis
            elementum. Phasellus sed efficitur dolor, et ultricies sapien.
            Quisque fringilla sit amet dolor commodo efficitur. Aliquam et sem
            odio. In ullamcorper nisi nunc, et molestie ipsum iaculis sit
            amet.
      .banner-container
        .e2_6
        .banner-text
          %span.banner-text-bold INSPIRED DESIGN. UNPARALLELED EXPERIENCE. EXEMPLARY SERVICE.
      .social-container
        %span.social-title FOLLOW US!
        .social-icon
      .sale-container
        .sale-content
          .sale-image
          .sale-ribbon
          %span.sale-percent SALE 50%
        .product-container
          %span.product-title MAN OUTLET
          %span.product-desc
            Grab a style steal with our 50% off everything deal. With discounts
            \& offers on fashion, accessories & shoes, shop PLT this season to
            bag the ultimate fit.
          .product-button
            %span.product-button-text CLICK NOW
            .product-button-icon
      .footer
        %span.footer-text Footer text